@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #000;
  --foreground: #fff;
}

html {
  font-family: 'Outfit', sans-serif;
  line-height: 1.1;
}


/* Add this if not already present */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}